



.myimg{
	display:inline-block;
	object-fit: cover;
	width: 300px;
	height: 300px;
	margin-bottom: 10px;
	border-radius: 20%;
	border-width: 5px;
	border-style: solid;
	border-color: #000000;
}
.gallery{
	
}

.gallery myimg {
	transition: 1s;
}

.gallery img:hover {
	filter:grayscale(50%);
	transform: scale(1.1);
}
