
{% extends "photo/base.html" %}
{% block content %}
{% for photo in photos %}
<a href = "{% url 'user-photo' photo.author.username %} " style = "color:white"><h3 style = "color:white">Photo by {{photo.author}}<h3><a>
  <br>
  <div class = "gallery">
  	<a href ="{{ photo.image.url }}" data-lightbox = "photo" style = "color:black" >
      <img src="{{ photo.image.url }}" class = "myimg"/>
      
      <b style = "color:white">{{photo.title}}:</b>
      <p style = "color:white; font-size:12px;"> {{photo.description}}</p>
      
      <div class ="fadebox">
        <div class = "title text">
         <p>{{photo.title}} <br>{{photo.description}}</p>
       </div>
     </div>
   </a> 
 </div>
 <br>
 <br>
 {% endfor %}
 <br>
 <div style = "margin-left: 100px">
   {% if photos.has_previous %}
   <a class = "btn btn-outline-info mb-4" href = "?page=1"> First </a>
   <a class = "btn btn-outline-info mb-4" href = "?page={{ photos.previous_page_number }}"> Previous Page </a>
   {% endif %}

   {% for num in photos.paginator.page_range %}
   {% if photos.number == num %}
   <a class = "btn btn-info mb-4" href = "?page={{ num }}">{{ num }}  </a>
   {% elif num > photos.number|add:'-3' and num < photos.number|add:'3'%}
   <a class = "btn btn-outline-info mb-4" href = "?page={{ num }}">{{ num }}  </a>
   {% endif %}
   {% endfor %}

   {% if photos.has_next %}
   <a class = "btn btn-outline-info mb-4" href = "?page={{ photos.next_page_number }}">Next</a>
   <a class = "btn btn-outline-info mb-4" href = "?page={{ photos.paginator.num_pages}}"> Last</a>
   {% endif %}	
 </div>

 {% endblock content%}

  
    
  
