

{% extends "photo/base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type = "text/javascript">
	$(document).ready(function(){
		$('button').click(function(){
			$('button').toggleClass('active')
		})
	})
</script>
		<article class="media content-section">
			<img src = "{{ object.image.url}}" class = "myimg">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="{% url 'user-photo' object.id %}">{{ object.author }}</a>
		      <small class="text-muted">{{ object.description }}</small>
		      <br>
		     <form action = "{% url 'like_photo' object.author.username object.id %}" method = 'POST' class = "ui-form">
		     	{% csrf_token %}
     			 <input type = 'hidden' name = 'photo_id' value = "{{object.id}}">
      			{% if user not in object.liked.all %}
        		 	<button class= 'button button1' type = 'submit'>like</button>	
      			{% else %}
        			<button class = 'button button2' type = 'submit'> dislike </button>
      			{% endif %}
    		</form>
    		<strong> {{object.liked.all.count}} likes </strong>

		      {% if object.author == user %}
		      	<div>
		      	<a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'photo-update' object.author.username object.id %}"> Update </a>
		      	<a class = "btn btn-danger btn-sm mt-1 mb-1" href = "{% url 'photo-delete' object.author.username object.id %}"> Delete </a>
		      </div>
		      {% endif %}
		    </div>
		    <h2 class="article-title">{{ object.title }}</h2>
		    <p class="article-content">{{ object.description }}</p>
		  </div>
		</article>
{% endblock content %}