{% extends "blog_1/base.html" %}
{% block content %}
	<div>
		<img src="../../media/Farrell.jpg" alt="Monsignor Farrell High School" width="100" height="100">
	</div>
	<div>
		<img src="../../media/Stevens.png" alt="Stevens Institute of Technology" width="100" height="100">
	</div>
	<div>
		<h3>Hanlin's Resume</h3> <button type="submit" onclick="window.open('../../media/Hanlin_Miao_Resume.docx')">Click to Download My Resume</button>
		<img src="../../media/Resume.png" alt="Resume" width="550" height="600">
	</div>
{% endblock content %}